body {
    background-color: #f8f9fa;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.card {
    margin-top: 50px; 
}

.card-body {
    padding: 2rem;
}

h2 {
    margin-bottom: 1.5rem;
}

.instructions {
    font-size: 0.9rem; 
    color: #0066cc; 
}

.form-floating label {
    padding-left: 0.75rem;
}

.form-control:focus + label {
    color: #0d6efd;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.record-buttons .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.audio-download-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -5px;
}

.download-link-container {
    margin-top: -20px; /* Adjust margin as needed to bring it closer */
}