body {
    background: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.header {
    margin-bottom: 20px;
}

.login-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.logo {
    max-width: 150px;
}

.fw-bold {
    font-weight: bold;
}

.login-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.login-body {
    padding: 20px 0;
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 40px 12px 40px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.icon {
    font-size: 18px;
    color: #333;
}

.btn-primary {
    background: #004fc1;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
}

.btn-primary:hover {
    background: #003bb3;
}

.error-message {
    font-size: 0.875rem; /* Smaller font size */
    color: #dc3545; /* Bootstrap danger color */
    margin-top: 0.5rem;
    background: #ffe6e6; /* Light red background */
    padding: px5; /* Padding for background */
    border-radius: 8px; /* Rounded corners */
    text-align: center; /
}

.error-message ul {
    list-style: none; /* Remove list-style */
    padding: 0;
    margin: 0;
}

